.navbar {
    width: 100%;
    padding: 15px 30px;
    background: #2b211c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #f8f3e7;
}

.navLinks a {
    margin-left: 22px;
    color: #f8f3e7;
    text-decoration: none;
}

.navLinks a:hover,
.active {
    color: #d4b498;
}

.screen {
    display: flex;
    justify-content: center;
    padding: 15px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 85px 30px 40px;
    color: #f8f3e7;
}

.pageTitle {
    font-size: 26px;
}

.subtitle {
    margin: 6px 0 25px;
    color: #d4c9bb;
}

/* ACTION CARDS */
.actions {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.actionCard {
    flex: 1;
    min-width: 200px;
    background: #f8f3e7;
    color: #3b2c24;
    text-align: center;
    padding: 25px;
    border-radius: 16px;
    text-decoration: none;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

.actionCard i {
    font-size: 40px;
    color: #8d5f3a;
}

.actionCard:hover {
    background: #f3e8d9;
}

/* HOSTELS */
.sectionTitle {
    margin-bottom: 15px;
    font-size: 22px;
}

.hostelList {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.hostelCard {
    background: #f8f3e7;
    color: #3b2c24;
    width: 320px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

/* IMAGE SLIDER */
.imageWrapper {
    position: relative;
}

.cardImg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 3px solid #8d5f3a;
}

.leftArrow,
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 10px;
}

.info {
    padding: 14px 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.btn {
    flex: 1;
    margin: 0 5px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.view {
    background: #8d5f3a;
}

.edit {
    background: #a0744f;
}

.delete {
    background: #c0392b;
}

.btn:hover {
    opacity: 0.9;
}