@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #3b2c24;
    /* Deep Coffee Brown */
    min-height: 100vh;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: block;
    /* remove flex centering */
}

#root {
    width: 100%;
    min-height: 100vh;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
